{
    "extends": [
        "stylelint-config-standard-scss",
        "stylelint-config-recess-order"
    ],
    "ignoreFiles": ["public/**/*", "dist/**/*","cms/wp-content/**/*"],
    "rules": {
    }
}
