@use "../../../foundation/index" as f;

.p-index {
    h1 {
        color: green;
        font-size: 4rem;
        font-weight: 700;
    }
    padding-top: f.clamp-space(50, 100, 320, 1440);
    padding-bottom: f.clamp-space(50, 100, 320, 1440);
    @include f.breakpoint(sp) {
        padding-top: f.clamp-space(30, 50, 320, 1440);
        padding-bottom: f.clamp-space(30, 50, 320, 1440);
    }
}
