@use "../foundation/index" as f;

.l-inner {
    max-width: calc(1000px + 40px);
    padding-left: f.clamp-space(20, 20, 320, 1440);
    padding-right: f.clamp-space(20, 20, 320, 1440);
    margin: 0 auto;
    &--wide {
        max-width: calc(1200px + 40px);
    }
    &--narrow {
        max-width: calc(800px + 40px);
    }
}
