@use "../../../foundation/index" as f;
@use "./news-single";

.p-news {
    @include f.breakpoint(sp) {
    }
    &__list {

        li {
            &+li {
                margin-top: 1em;
            }
        }
    }
    &__not-yet {
        margin-top: 1em;
        text-align: center;
    }
}
