@use "../../../foundation/index" as f;

.p-news-single {
    @include f.breakpoint(sp) {
    }
    &__categories {

    }
    &__contents {

    }
    &__head {
        margin-top: 1em;
    }
    &__body {
        margin-top: 1em;
        >* {
            margin-bottom: 40px;
            @include f.breakpoint(sp) {
                margin-bottom: 20px;
            }
        }
        p {

        }
    }
    &__foot {
        margin-top: 1em;
    }
}
