@use "../../../foundation/index" as f;

.p-news-single {
    @include f.breakpoint(sp) {
    }
    &__contents {

    }
    &__title {
        font-size: f.clamp-vw(30, 40, 320, 1440);
        line-height: calc(60 / 40);
        letter-spacing: calc(75em / 1000);
        text-align: center;
        font-weight: 700;
        color: f.$c-accent;
        margin-block-end: calc(40px + var(--leading-trim));
    }
    &__head {
        border: 1px solid f.$c-shadow;
        .thumbnail {
        }
        .time {
            display: block;
            margin-top: 1em;
        }
        .title {
            margin-top: 1em;
        }
        .category {
            margin-top: 1em;
            a {
                display: inline-block;
                margin-right: 1em;
                margin-bottom: .5em;
                color: f.$c-main;
                text-decoration: underline;
            }
        }
        .tag {
            margin-top: 1em;
            a {
                display: inline-block;
                margin-right: 1em;
                margin-bottom: .5em;
                color: f.$c-accent;
                text-decoration: underline;
            }
        }
    }
    &__body {
        margin-top: 1em;
        border: 1px solid f.$c-main;
        >* {
            margin-bottom: 40px;
            @include f.breakpoint(sp) {
                margin-bottom: 20px;
            }
        }
        p {

        }
    }
    &__foot {
        margin-top: 1em;
        border: 1px solid f.$c-sub;
    }
    &__related {
        margin-top: 5em;
    }
}
